<!-- THIS IS THE HOME PAGE/SIGN IN PAGE -->

<h1>Welcome To The Music Wall</h1>

<% if @username %>

  <p><a class="button" href="/logout">Sign Out</a></p>

<% else %>

  <!-- SIGN IN FORM -->
  <form method="post" action="/login">
    <p>
      <label for="username">Username:</label>
      <input id="username" name="username" value="<%= session['username_given'] %>" />
    </p>
    <p>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" />
    </p>
    <p>
      <button>Sign In</button>
    </p>
  </form>

  <!-- SIGN UP FORM -->
  <form method="post" action="/signup">
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" value="<%= session['username_given_signup'] %>"/></div>
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" /></div>
    </p>
    <p>
      <button>Sign Up</button>
    </p>
  </form>
<% end %>