
<h1>Sign Up Below</h1>

<% if @user.errors.any? %>
  <div>
    <p>Issue:</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/signup">
      <div><label>Username:</label>
      <input type="text" name="username" value="<%= session['username_given_signup'] %>"/></div>
      <div><label>Password:</label>
      <input type="password" name="password" /></div>
      <div><label>Repeat Password:</label>
      <input type="password" name="password_confirmation" /></div>
      <input type="submit" value="login"/>
</form>